# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore IDE/editor-specific files
.idea/
*.iml
.vscode/
*.swp


# Ignore media files (add them manually if required)
*.mp4
*.jpg
*.png
*.csv

# Ignore log files and unnecessary system files
*.log
.DS_Store
Thumbs.db

# Ignore dependency files (keep requirements.txt)
pip-wheel-metadata/
*.egg-info/
